@media (min-width: 1200px) {
    .container {
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }
    .section {
        padding: 10rem 0;
    }
    .section header, #testimonials header {
        max-width: 32rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .button {
        height: 3.125rem;
    }

    nav .menu {
        opacity: 1;
        visibility: visible;
        top: 0;
    }
    nav .menu ul {
        display: flex;
        gap: 2rem;
    }
    nav .menu ul li a.title {
        font: 400 1rem var(--body-font);
        -webkit-font-smoothing: antialiased;
    }
    nav .menu ul li a.title.active {
        font-weight: bold;
        -webkit-font-smoothing: auto;
    }
    nav .icon-menu {
        display: none;
    }

    main {
        margin-top: var(--header-height);
    }

    #home .container {
        grid-auto-flow: column;
        justify-content: space-between;
        margin: 0 auto;
    }
    #home .image {
        order: 1;
    }
    #home .text {
        order: 0;
        max-width: 24rem;
        text-align: left;
    }

    #about .container {
        margin: 0 auto;
        grid-auto-flow: column;
    }

    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    #testimonials .container {
        margin-right: auto;
        margin-left: auto;
    }

    #contact .container {
        grid-auto-flow: column;
        align-items: center;
    }
    #contact .text {
        max-width: 25rem;
    }

    footer.section {
        padding: 3.75rem 0;
    }
    footer .container {
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
    }
    footer .logo {
        font-size: 2.25rem;
    }
}

@media (min-width: 992px) {
    :root {
        --title-font-size: 2.25rem;
        --subtitle-font-size: 1.125rem;
    }
}